@model LibraryManagement.ViewModels.BookDetailViewModel

@{
    ViewData["Title"] = "Book Details";
}

<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">@ViewData["Title"]</h4>
                </div>
                <div class="card-body">
                    <dl class="row mb-4">
                        <dt class="col-sm-3">Title</dt>
                        <dd class="col-sm-9">@Model.Title</dd>

                        <dt class="col-sm-3">Genre</dt>
                        <dd class="col-sm-9">@Model.Genre</dd>

                        <dt class="col-sm-3">Author</dt>
                        <dd class="col-sm-9">@Model.AuthorName</dd>
                    </dl>
                    <div class="d-flex">
                        <a asp-action="Edit" asp-route-id="@Model.BookId" class="btn btn-primary">Edit</a>
                        <a asp-action="Index" class="btn btn-outline-secondary ms-2">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
