@model LibraryManagement.ViewModels.LoanDetailViewModel

@{
    ViewData["Title"] = "Loan Details";
}

<h1>Loan Details</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">Book</dt>
        <dd class="col-sm-10">@Model.BookTitle</dd>

        <dt class="col-sm-2">Borrower</dt>
        <dd class="col-sm-10">@Model.BorrowerName</dd>

        <dt class="col-sm-2">Loan Date</dt>
        <dd class="col-sm-10">@Model.LoanDate.ToShortDateString()</dd>

        <dt class="col-sm-2">Due Date</dt>
        <dd class="col-sm-10">@Model.DueDate.ToShortDateString()</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.LoanId" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
